.content {
  background-color:  #C63516;
}

.content p {
  font-family:"Ariel", sans-serif;
  color:black;
}

.column.middle {
  color: white;
}

p {
  color: white;
}

.crazyshoe{
  margin: 0 auto;
}
